<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Summary</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/balance_summary.css') }}">
    <script>
        // merge any existing appState with the new data. since appState can be null, start with empty object as the base
        window.appState = Object.assign({}, window.appState, {
            labels: {{ labels | default(()) | tojson }},
            balances: {{ balances | default(()) | tojson }}
        });
    </script>
    <script src="{{ url_for('static', filename='js/balance_summary.js') }}"></script>
</head>
<body>
    <table id="balanceSummaryTable" border="1" style="background-color: #173F3F;">
        <thead>
            <tr>
                <th>Account</th>
                <th>Balance</th>
                <th>Available Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for data in account_type_data %}
                <tr class="type-row">
                    <td>
                        <span class="expand-collapse-toggle"></span>
                        {{ data[0] }}
                    </td>
                    <td>{{ data[1] | tocurrency }}</td>
                    <td>{{ data[2] | tocurrency }}</td>
                </tr>
                {% for bank_data in account_type_banak_data %}
                    {% if bank_data[0] == data[0] %}
                        {% if bank_data[2] != 0.0 or bank_data[3] != 0.0 %}
                        <tr class="child-row">
                            <td style="text-align: right;">{{ bank_data[1] }}</td>
                            <td>{{ bank_data[2] }}</td>
                            <td>{{ bank_data[3] }}</td>
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>