<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget_summary.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/SparkyBudget.css') }}">
</head>
<div class="container">
    {% for data in budget_summary_chart %}
    <div class="subcategory-container"> <!-- New container for each subcategory -->
        <div class="top-content">
            <div class="left-content">
                <i class="fas fa-trash delete-icon" onclick="deleteBudget('{{ data.SubCategory }}')"></i>
                <p href="#" class="subcategory-text" onclick="showTransactionDetails(event,'{{ data.SubCategory }}','{{ data.TotalTransactionAmount }}')">
                    <img src="{{ data.ImageUrl }}" style="width:30px; height:30px; vertical-align:middle; margin-right: 8px;">
                    {{ data.SubCategory }}
                </p>
            </div>
            <div class="right-content">
                <p>
                    <span id="budgetValue_{{ loop.index }}" onclick="editBudget(event, '{{ data.SubCategory }}', parseFloat('{{ data.BudgetAmount | default(0) }}'))"
                        style="text-decoration: underline;">
                        {{ data.BudgetAmount | tocurrency }}
                    </span>
                </p>
            </div>
        </div>
        <div class="category-bar" onclick="showTransactionDetails(event,'{{ data.SubCategory }}','{{ data.TotalTransactionAmount }}')">
            <div class="subcategory-bar" style="width: {{ data.BarWidthPercentage }}; background-color: {{ data.BarColor }};">
            </div>
        </div>
        <div class="bottom-content-wrapper">
            <div class="bottom-left-content">
                {{ data.TotalTransactionAmount | tocurrency }}
            </div>
            <div class="bottom-right-content">
                {{ data.RemainingBudget | tocurrency }}
            </div>
        </div>
    </div> <!-- End of subcategory-container -->
    {% endfor %}
</div>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>