<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/category_mgmt.css">
    <link rel="stylesheet" href="/static/css/navigation_bar.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.jqueryui.css">
    
</head>
<body>     

    {% include 'components/navigation_bar.html.jinja' %}

    <main>
        <section>
            <h2>Account Types</h2>
            <div class="containerAccountTypes">
                <table id="accountTypeTable" class="display responsive-table dataTable" aria-label="Account Types Table">
                    <thead>
                        <tr>
                            <th>Delete</th>
                            <th>AccountType</th>
                            <th>HideFromBudget</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be dynamically inserted here -->
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <h2>Category Management</h2>
            <div class="AddSubCategoryContainer">
                <form id="addCategoryForm" aria-label="Add Category Form">
                    <select id="category" name="category" placeholder="Select Category" required></select>
                    <input type="text" id="subcategory" name="subcategory" placeholder="Enter New Subcategory" required>
                    <button type="submit">Add</button>
                </form>
            </div>
            <div class="containerCategoryManagement">
    <table id="categoryTable" class="display responsive-table dataTable" aria-label="Category Table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>SubCategoryKey</th>
                <th>Category</th>
                <th>SubCategory</th>
            </tr>
        </thead>
    </table>
</div>
        </section>
        <section>
            <h2>Category Rule Management</h2>
            <div class="AddSubCategoryRuleContainer">
                <form id="addSubCategoryRuleForm" aria-label="Add Subcategory Rule Form">
                    <select id="subcategoryDropDown" name="subcategoryDropDown" required></select>
                    <input type="text" id="matchword" name="matchword" placeholder="Enter New Match Word" required>
                    <button type="submit" id="submitAddSubCategoryRule">Add Rule</button>
                </form>
            </div>
            <div class="containerRuleManagement">
                <table id="categoryRuleTable" class="display responsive-table dataTable" aria-label="Category Rule Table">
                    <thead>
                        <tr>
                            <th>Delete</th>
                            <th>RuleKey</th>
                            <th>Default_SubCategory</th>
                            <th>Rule_Category</th>
                            <th>Rule_Pattern</th>
                            <th>Match_Word</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="/static/js/category_mgmt.js"></script>
    <script src="/static/js/navigation_bar.js"></script>
    
</body>
</html>
