<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Management</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/category_mgmt.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.jqueryui.css">
</head>
<body>
    <a href="/" title="Go to Home">
        <i class="fas fa-home" style="color: #61DAFB; font-size: 24px;"></i>
    </a>
    <h2>Category Management</h2>
    <div class="AddSubCategoryContainer">
        <form id="addCategoryForm">
            <select id="category" name="category" placeholder="Select Category" required></select>
            <input type="text" id="subcategory" name="subcategory" placeholder="Enter New Subcategory" required>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="container">
        <table id="categoryTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th>SubCategoryKey</th>
                    <th>Category</th>
                    <th>SubCategory</th>
                </tr>
            </thead>
        </table>
    </div>
    <h2>Category Rule Management</h2>
	<div class="AddSubCategoryRuleContainer">
		<form id="addSubCategoryRuleForm">
			<select id="subcategoryDropDown" name="subcategoryDropDown" required></select>
			<input type="text" id="matchword" name="matchword" placeholder="Enter New Match Word" required>			
			<button type="submit" id="submitAddSubCategoryRule">Add Rule</button>
		</form>
	</div>

    <div class="containerRule">
        <table id="categoryRuleTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Delete</th>
                    <th>RuleKey</th>
                    <th>Default_SubCategory</th>
                    <th>Rule_Category</th>
                    <th>Rule_Pattern</th>
                    <th>Match_Word</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='js/category_mgmt.js') }}"></script>
</body>
</html>