<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Summary</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.jqueryui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/historical_trend.css') }}">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
</head>
<body>
    <a href="/" title="Go to Home">
        <i class="fas fa-home" style="color: #61DAFB; font-size: 24px;"></i>
    </a>
    <div class="line-chart-container">
        <div class="line-chart-wrap">
            <div class="line-chart-glow"></div>
            <div class="line-chart-card">
                <canvas id="lineChartCanvas"></canvas>
            </div>
        </div>
    </div>
    <div class="transaction_edit_filter">
        <form method="GET" action="/historical_trend">
            <label for="date_range">Date Range:</label>
            <input type="text" id="date_range" name="date_range" />
            <!-- Add hidden input fields for start_date and end_date -->
            <input type="hidden" id="start_date" name="start_date" />
            <input type="hidden" id="end_date" name="end_date" />
        </form>
        <label class="spacer-label" for="dropdown_select"> </label>
        <label for="dropdown_select"></label>
        <select id="dropdown_select">
            <option value="Subcategory">Subcategory</option>
            <option value="Year">Year</option>
            <option value="Month">Month</option>
            <option value="FormattedMonth">Formatted Month</option>
            <option value="Payee">Payee</option>
        </select>
    </div>
    <div class="bar-chart-container">
        <div class="bar-chart-wrap">
            <div class="bar-chart-card">
                <div id="bar_chart"></div>
            </div>
        </div>
    </div>
    <div class="dt-buttons"> </div>
    <!-- DataTable for displaying transaction details -->
    
    <!-- Desktop Table Container -->
    <div class="transaction-table-container">
        <table id="transactionTable" class="transaction-table" style="width: 100%">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Formatted Month</th>
                    <th>Transaction Date</th>
                    <th>Description</th>
                    <th>Payee</th>
                    <th>Subcategory</th>
                    <th>Transaction Key</th>
                    <th>Transaction Amount</th>
                    <th>Action <i class="fas fa-edit editable-icon"></i></th> 
                    <th>Action <i class="fas fa-arrows-alt-h"></i></th> 
                    <th style="text-align:center;">
                        Split
                        <button
                            class="btn btn-sm btn-outline-secondary"
                            title="Split Transaction"
                            data-toggle="tooltip" data-placement="top">
                            <i class="fas fa-arrows-alt-h"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction_data %}
                <tr>
                    <td>{{ transaction[0] }}</td>
                    <td>{{ transaction[1] }}</td>
                    <td>{{ transaction[2] }}</td>
                    <td>{{ transaction[3] }}</td>
                    <td>{{ transaction[4] }}</td>
                    <td>{{ transaction[5] }}</td>
                    <td>{{ transaction[6] }}</td>
                    <td class="transaction-key" style="display: none;">{{ transaction[7] }}</td>
                    <td>{{ transaction[8] | tocurrency }}</td>
                    <td>
                        <div class="subcategory-cell">
                            <button class="re-categorize-button">Re-categorize</button>
                            <div class="subcategory-dropdown" style="display: none;"></div>
                        </div>
                    </td>
                    <td>
                        <button class="split-button">Split</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Mobile View -->
    <div class="transaction-table-mobile-container">
        {% for transaction in transaction_data %}
        <div class="transaction_details_card">
            <div class="transaction_details_header">
                <div class="transaction_details_info">
                    <span class="transaction_details_payee">{{ transaction[5] }}</span>
                    <span class="transaction_details_date">{{ transaction[3] }}</span>
                </div>
                <div class="transaction_details_amount_container">
                    <span class="transaction_details_amount">{{ transaction[8] | tocurrency }}</span>
                    <span class="transaction_details_status" onclick="transaction_details_toggleDetails(this)">More ▼</span>
                </div>
            </div>
            <div class="transaction_details_body" style="display: none;">
                
                <div class="transaction_details_field">
                    <span class="transaction_details_label">Description:</span>
                    <span>{{ transaction[4] }}</span>
                </div>
               
                <div class="transaction_details_field">
                    <span class="transaction_details_label">Subcategory:</span>
                    <span>{{ transaction[6] }}</span>
                </div>
                <div class="transaction_details_field">
                    <span class="transaction_details_label">Amount:</span>
                    <span>{{ transaction[8] | tocurrency }}</span>
                </div>
                <!-- Hidden Transaction Key for internal use -->
                <div class="transaction_details_field transaction-key" style="display: none;">
                    <span class="transaction_details_label">Transaction Key:</span>
                    <span>{{ transaction[7] }}</span>
                </div>
                <div class="transaction_details_field">
                    <button class="transaction_details_reCategorizeButton re-categorize-button">Re-categorize</button>
                    <div class="transaction_details_subcategoryDropdown subcategory-dropdown" style="display: none;"></div>
                </div>
                <div class="transaction_details_field">
                    <button class="transaction_details_splitButton split-button">Split</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



    <!-- Include DataTables initialization script with export options and date range filter -->
    <script>
        // merge any existing appState with the new data. since appState can be null, start with empty object as the base
        window.appState = Object.assign({}, window.appState, {
            transaction_data: {{ transaction_data | tojson | safe }}
        });
    </script>
    <script src="{{ url_for('static', filename='js/historical_trend.js') }}"></script>
</body>
</html>