<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparky Budget</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</head>
<body>
    <div class="header-container">
        <div id="toggleBalanceSummary" class="toggle-icon" style="color: #61DAFB; font-size: 24px;">
            <i class="fas fa-piggy-bank"></i>
        </div>
        <h1>
            <i class="fas fa-info-circle" onclick="balanceDetailsTableToggleVisibility()" title="Account Details"></i>
        </h1>
		
		<h1>
            <i class="fas fa-line-chart" onclick="dailybalanceDetailsToggleVisibility()" title="Daily Balance Details"></i>
        </h1>
		
		
        <a class="custom_report" href="{{ url_for('historical_trend.historical_trend') }}" style="color: #61DAFB; font-size: 24px;"
            title="All Transaction">
            <i class="fas fa-chart-bar"></i>
        </a>
        <a class="custom_report" href="{{ url_for('manage_categories.manage_categories') }}" style="color: #61DAFB; font-size: 24px;"
            title="Category Management">
            <i class="fas fa-tags"></i> <!-- Assuming you want to use a tags icon for category management -->
        </a>
        <i id="downloadButton" style="margin-left: 5px; background: transparent; display: inline-block;">
            <img src="static/images/refresh.svg" alt="Refresh" title="Sync">
            <img id="spinner" src="{{ url_for('static', filename='Spinner-0.4s-57px.gif') }}" alt="Loading..."
                style="width: 50px; height: auto;" />
        </i>
        {% if current_user.is_authenticated %}
        <!-- Include the rendered budget summary HTML here 
		<p>Welcome, {{ current_user.id }}!</p>
		-->
        <a href="{{ url_for('logout') }}" style="color: #61DAFB; font-size: 24px;">
            <i class="fas fa-sign-out-alt" title="Logout"></i>
        </a>
        {% endif %}
    </div>
    <div class="content">
	
	
		
        <!-- collapsed -->
        <div class="balance-summary-container ">
            {% include 'balance_summary.html.jinja' %}
        </div>
        <div class="main-content">
			
			<div id="dailyBalanceContainer" class="daily-balance-container">
				<!-- Daily Balance Account Type Filter (Horizontal Multi-Select Buttons) -->
				<!-- Hidden div to store daily balance data -->
				<div id="dailyBalanceData" data-json='{{ daily_balance_data | tojson | safe }}' style="display: none;"></div>


				<div id="dailyBalance_accountTypeFilter" style="display: flex; gap: 10px; flex-wrap: wrap;">
					{% for account_type in account_type_data %}
						<button 
							class="dailyBalance_account-type-btn" 
							data-account-type="{{ account_type[0] }}" 
							style="background-color: #333; color: #d6dadf; border: 1px solid #77ace0; padding: 5px 15px; border-radius: 20px; cursor: pointer;">
							{{ account_type[0] }}
						</button>
					{% endfor %}
				</div>

				<!-- Daily Balance Account Name Filter (Dropdown with Multi-Select) -->
				<select id="dailyBalance_accountNameFilter" class="select2" multiple="multiple" style="width: 100%; padding: 5px; background-color: #333; color: #d6dadf; border: 1px solid #77ace0; border-radius: 10px;">
					<!-- Account names will be dynamically added here based on selected AccountType -->
				</select>


				<!-- Chart.js Line Chart Container for Daily Balance -->
				<div style="width: 90%; margin: 20px auto; height: 60%;">
					<canvas id="dailyBalance_lineChart"></canvas>
				</div>
			</div>


		
		
		
		
		
            <div id="balanceDetailsTable" class="hidden-balance-details">
                <H1><i class="fas fa-piggy-bank"></i> Balance Details</H1>
                {% include 'balance_details.html.jinja' %}
            </div>
            <div class="filters">
                <label for="transactionYear">Year:</label>
                <select id="transactionYear" onchange="updateTransactionTable('01')">
                    {% for year in transaction_years %}
                    <option value="{{ year }}" {% if year==transaction_years[0] %}selected{% endif %}>{{ year }}
                    </option>
                    {% endfor %}
                </select>
                <label>Month:</label>
                <div id="monthButtons">
                    {% for month in transaction_months %}
                    <button onclick="updateTransactionTable('{{ month }}')" {% if month==transaction_months[0]
                        %}class="active" {% endif %} data-month="{{ month }}">{{ month }}</button>
                    {% endfor %}
                </div>
            </div>
            <button id="addBudgetButton" onclick="toggleAddBudgetForm()">Add Budget</button>
            <form id="addBudgetForm" class="hide">
                <label class="month-year-picker-container" for="budgetMonth">Budget Month:
                    <input type="month" id="budgetMonth" value="{{ now.year }}-{{ now.strftime('%m') }}" required
                        pattern="[0-9]{4}-[0-9]{2}">
                    <div class="year-month-picker hide">
                        <div class="year-picker">
                            <button class="previous-year">&lt;</button><span class="selected-year">{{ now.year
                                }}</span><button class="next-year">&gt;</button>
                        </div>
                        <div class="month-picker">
                            <button data-month="01">Jan</button>
                            <button data-month="02">Feb</button>
                            <button data-month="03">Mar</button>
                            <button data-month="04">Apr</button>
                            <button data-month="05">May</button>
                            <button data-month="06">Jun</button>
                            <button data-month="07">Jul</button>
                            <button data-month="08">Aug</button>
                            <button data-month="09">Sep</button>
                            <button data-month="10">Oct</button>
                            <button data-month="11">Nov</button>
                            <button data-month="12">Dec</button>
                        </div>
                    </div>
                </label>
                <label for="subCategoryInput">Subcategory:</label>
                <select id="subCategoryInput" class="select2" required>
                    <option value="" selected disabled>Select a subcategory</option>
                </select>
                <label for="budgetAmountInput">Budget Amount:</label>
                <input type="text" pattern="^(\d)+(\.\d{1,2})?$" inputmode="decimal" id="budgetAmountInput" placeholder="Enter budget amount" required>
                <button type="button" onclick="addBudget()">Submit Budget</button>
            </form>
            

            <div class="charts-wrapper">
                <div class="chart-container">
                    <div class="glow-wrapper">
                        <h2 class="chart-total" id="incomeTotal">Income - $6,273.00</h2>
                        <canvas id="incomeVsBudgetPieChart"></canvas>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="glow-wrapper">
                        <h2 class="chart-total" id="budgetTotal">Budget - $5,476.00</h2>
                        <canvas id="incomePieChart"></canvas>
                    </div>
                </div>
            </div>

            <div id="dropdown-container">
                <label for="sortCriteria">Sort by:</label>
                <select id="sortCriteria" onchange="updateBudgetSummaryChart()">
                    <option value="budget">Budget</option>
                    <option value="category">Category</option>
                    <option value="subcategory">Subcategory</option>
                    <option value="spent">Spent</option>
                    <option value="balance">Balance</option>
                </select>
                <select id="SortAscDesc" onchange="updateBudgetSummaryChart()">
                    <option value="True">Desc</option>
                    <option value="False">Asc</option>
                </select>
            </div>
            <div class="center-content" style="margin-top: 20px;">
                <!-- Include the rendered budget summary HTML here -->
                {% include 'budget_summary_chart.html.partial.jinja' %}
                <div id="budgetSummaryChart"></div>
            </div>
            <!-- Transaction Details of selected SubCategory-->
            <div id="transactionDetails"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>