<table border="1">
    <thead>
        <tr>
            <th>Transaction Date</th>
            <th>Account Name</th>
            <th>Description</th>
            <th>Payee</th>
            <th>Amount</th>
            <th>Re-Category</th>
        </tr>
    </thead>
    <tbody>
        <div class="transaction-details-container">
            {% for detail in transaction_details %}
            <tr>
                <td>{{ detail[1] }}</td>
                <td>{{ detail[2] }}</td>
                <td>{{ detail[3] }}</td>
                <td>{{ detail[4] }}</td>
                <td>{{ detail[5] | tocurrency }}</td>
                <!-- Subcategory change option -->
                <td>
                    <!-- Existing content -->
                    <!-- Display the "Re-categorize" button initially -->
                    <button class="reCategorizeButton" onclick="showSubcategoryDropdown(this)">Re-categorize</button>
                    <!-- Hidden dropdown initially -->
                    <label for="subcategorySelect" class="subcategoryLabel" style="display: none;">Change
                        Category:</label>
                    <select id="subcategorySelect" class="select2" required style="display: none;">
                        <option value="" selected disabled>Select or type to search</option>
                    </select>
                    <!-- Button to trigger the update -->
                    <button onclick="updateSubcategory('{{ detail[0] }}', event)" class="updateSubcategoryButton" style="display: none;">Submit</button>
                </td>
            </tr>
            {% endfor %}
        </div>
    </tbody>
</table>