body {
    font-family: Arial, sans-serif;
    background-color: #282c35;
    color: #fff;
    margin: 0;
    padding: 0;
}

#budgetsummaryTable a {
    color: #fff;
    /* White font color for the hyperlink */
    text-decoration: none;
    /* Remove underline */
}