body, html {
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
  margin: 0;
}


* {
  box-sizing: border-box;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/static/images/homepage.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
  opacity: 0.9;
}

.login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 2rem;
  max-width: 100%;
  text-align: center;
  border-radius: 1rem;
  color: #d6dadf;
  font-weight: 500;
  box-shadow: 0 0 2rem #d6dadf;

  @media screen and (max-width: 600px) {
          padding: 0.5rem;
  }
}

h1 {
  color: #f57c00;
  margin-top: 1.25rem;  
  margin-bottom: 0;
  padding: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}

label,
button,
input {
  font-size: 1rem;
}

.loginfield {
  background-color: #d6dadf;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: none;
}

.submit {
  margin-top: 1rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.25rem;
}

.submit:hover {
  background-color: #abaeb2;
}


.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-icon-wrapper i {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  color: #333;
  font-size: 1rem; /* Consistent icon size */
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.input-icon-wrapper input {
  width: 100%;
  padding-left: 2.5rem; /* Leave room for icon */
  padding-right: 0.5rem;
  height: 2rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  line-height: 1rem;
}


@media (max-width: 600px) {
  h1 {
      height: 100%;
      width: 100%;
      font-size: Larger;
  }
  .login {
      height: 50%;
      width: 90%;
  }
}