<!-- Navigation Bar Component -->
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="stylesheet" href="{{ url_for('static', filename='css/navigation_bar.css') }}">

<div class="mobile-header-logo">
    <img src="{{ url_for('static', filename='images/SparkyBudget.png') }}" alt="SparkyBudget Logo" />
    <h1 style="color: #f57c00;">SparkyBudget</h1>
    <div id="toggleBalanceSummary" class="toggle-icon nav-item " style="font-size: 24px;">
        <i class="fas fa-piggy-bank nav-icon"></i>
        <span class="nav-text">Balance</span>
    </div>
    <a class="nav-item networth1 {% if 'budget_sumary_bp' in request.endpoint %}active{% endif %}"
        onclick="dailybalanceDetailsToggleVisibility()">
        <i class="fas fa-line-chart nav-icon"></i>
        <span class="nav-text">Networth</span>
    </a>
    <a class="nav-item account1 {% if 'budget_sumary_bp' in request.endpoint %}active{% endif %}"
            onclick="balanceDetailsTableToggleVisibility()">
            <i class="fas fa-info-circle nav-icon"></i>
            <span class="nav-text">Account</span>
    </a>

</div>

<div class="header-container">
    <div class="header-logo">
        <img src="{{ url_for('static', filename='images/SparkyBudget.png') }}" alt="SparkyBudget Logo" />
        <h1 style="color: #f57c00;">SparkyBudget</h1>
    </div>
    <div class="header-nav">

        <a href="{{ url_for('home.index') }}"
            class="nav-item {% if request.endpoint == 'home.index' %}active{% endif %}">
            <i class="fas fa-home nav-icon"></i>
            <span class="nav-text">Home</span>
        </a>
        
        
       
        <a href="{{ url_for('budget_sumary_bp.get_recurring_budget_details') }}"
        class="nav-item {% if 'budget_sumary_bp.get_recurring_budget_details' in request.endpoint %}active{% endif %}">
            <i class="fas fa-calendar-alt nav-icon"></i>
            <span class="nav-text">Budget</span>
        </a>
        <a href="{{ url_for('historical_trend.historical_trend') }}"
            class="nav-item {% if 'historical_trend' in request.endpoint %}active{% endif %}">
            <i class="fas fa-chart-bar nav-icon"></i>
            <span class="nav-text">Trend</span>
        </a>
        <a href="{{ url_for('manage_categories.manage_categories') }}"
            class="nav-item {% if 'manage_categories' in request.endpoint %}active{% endif %}">
            <i class="fas fa-tags nav-icon"></i>
            <span class="nav-text">Category</span>
        </a>
        <a class="nav-item" id="syncNavItem">
            <i class="fas fa-sync nav-icon" id="downloadButton"></i>
            <span class="nav-text">Sync</span>
        </a>
        {% if current_user.is_authenticated %}        
        <a class="nav-item" id="themeToggle">
            <i class="fas fa-sun nav-icon"></i> {# Initial icon, will change with JS #}
            <span class="nav-text">Theme</span>
        </a>
        <a href="{{ url_for('logout') }}" class="nav-item">  
            <i class="fas fa-sign-out-alt nav-icon"></i>
            <span class="nav-text">Logout</span>
        </a>
        {% endif %}
    </div>
</div>